.banner{
    height:448px;
    /* padding-top: 50px; */
    position: relative;
    color:rgba(255, 255, 255, 0.726);
    object-fit: contain;
   
    
}
.banner__contents{
    margin-left: 50px;
    padding-top: 140px;
    height: 190px;
   
    
}
.banner__title{
   font-size: 3rem;
   font-weight: 800;
   padding-bottom: 0.3rem;
   
}
.banner_description{
    width:45rem;
    line-height: 1.3;
    max-width:360px;
    height:80px;

}
.banner__button{
    cursor: pointer;
    color:#fff;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51,51,51,0.6);
    padding-bottom: 0.5rem;

}
.banner__button:hover{
    color: black;
    background-color: white;
    transition: all 0.2s;
    

}
.banner--fadeButton{
    height: 7.4rem;
    background-image: linear-gradient(
        rgba(37,37,37,0.61),
        #111
    );
}